* {
    box-sizing: border-box;
    
    font-family: 'Fira Sans Condensed', sans-serif;
  }

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: solid black 2px;
  }

.left-sidebar,
.right-sidebar{
    border: solid black 2px;
}

.left-sidebar {
  display: grid;
  grid-template-rows: repeat(4, auto);
}

.right-sidebar {
  display: grid;
  grid-template-rows: repeat(3, auto); 
}

.spotlight, .stats, .oil-prices, .about, .time, .location, .nearest {
  padding: 0 10px 0 10px;
  border: solid black 1px;
}

.spotlight {
  background-color: #fde2e4;
  display: flex;
  grid-template-columns: 3fr 1fr;
}

.refresh {
  margin-top: 30px;
  margin-left: auto;
}

#logo {
  padding-top: 10px;
  height: 50px;
}

.stats {
  background-color: #faf0ca;
}

.stats-total {
  padding-bottom: 5px;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: solid black 1px;
}

.even-row {
  background-color: #ffd6a5;
}

.oil-prices {
  background-color: #bee1e6;
}

.about {
  background-color: #c9e4ca;
}

.about > ul {
  padding-left: 0;
}
.about li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.about, li, a ,.refresh, .price {
  text-decoration: none;
}

a {
  color: gray;
}

.time {
  background-color: white;
}

.location {
  background-color: #ffd6a5;
}

.nearest {
  background-color: #fff1e6;
}

/*  display map */
#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 30px;
}

.stations {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-top: solid black 1px;
  padding: 10px 0 10px 0;
}

.time {
  text-align: center;
}

.show-time {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

#clockContainer {
  position: relative;
  margin: auto;
  height: 10vw;
  /*to make the height and width responsive*/
  width: 10vw;
  background: url("https://media.geeksforgeeks.org/wp-content/uploads/20210302161254/imgonlinecomuaCompressToSizeOmNATjUMFKw-300x300.jpg") no-repeat;
  /*setting our background image*/
  background-size: 100%;
  margin-bottom: 10px;
}

#hour,
#minute,
#second {
  position: absolute;
  background: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
}

#minute {
  width: 1.6%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
}

#second {
  width: 1%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
}