* {
    box-sizing: border-box;
    border: solid red 2px;
  }

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: solid black 2px;
  }

.left-sidebar,
.right-sidebar{
    border: solid black 2px;
    gap: 10px;
}

.left-sidebar {
  background-color: rgb(103, 103, 241); 
  display: grid;
  grid-template-rows: repeat(4, auto); 
}

.right-sidebar {
  background-color: rgb(223, 52, 183); /* Adjust the background color as needed */
  display: grid;
  grid-template-rows: repeat(3, auto); 
}

/*  display map */

  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
