<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    <title>Servo App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="grid-wrapper">
        <div class="left-sidebar sidebar">
            <div class="spotlight">
                <div class="address-info">
                    <h2>Spotlight</h2>
                    <p>Name: <span class="name"></span></p>
                    <p>Address: <span class="address"></span></p>
                </div>
                <div class="refresh">
                    <a id="refresh" href="">Refresh</a>
                    <div id="logo"></div>
                </div>
            </div>
            <div class="stats">
                <h2>Stats</h2>
            </div>
            <div class="oil-prices">
                <h2>Latest Prices</h2>
                <div class="date">
                </div>
                <div class="price">
                    <li class="wti-price"></li>
                    <li class="brent-price"></li>
                    <li class="natural-price"></li>
                </div>
            </div>
            <div class="about">
                <h2>About</h2>
                <h3>Team Mercator</h3>
                <ul>
                    <li>Michael Nair <a href="https://github.com/MichaelPNair">GitHub Profile</a></li>
                    <li>Chatkamon Chantaraparsop <a href="https://github.com/zebelity">GitHub Profile</a></li>
                    <li>Geoff Lazarus <a href="https://github.com/geoffjlazarus/">GitHub Profile</a></li>
                    <li>Andy Wang <a href="https://github.com/andysw8">GitHub Profile</a></li>
                    <li>Alessandra Manalansan <a href="https://github.com/alesmnlnsan">GitHub Profile</a></li>
                </ul>
            </div>
        </div>
        <div id="map" class="main-content">
        </div>
        <div class="right-sidebar sidebar">
            <div class="time">
                <div class="show-time"></div>
                <div id="clockContainer">
                    <div id="hour"></div>
                    <div id="minute"></div>
                    <div id="second"></div>
                </div>
            </div>
            <div class="location">
            <h2>Map Center Location</h2>
            
            <p>Lat: <span class="lat"> </span></p>
            <p>Lng: <span class="lng"> </span></p>
            <p span class="center-address"></p>
            </div>
            <div class="nearest">
                <h2>Nearest</h2>
            </div>
        </div>
    </div>
    <script>
        (g => {
            var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window;
            b = b[c] || (b[c] = {});
            var d = b.maps || (b.maps = {}),
                r = new Set,
                e = new URLSearchParams,
                u = () => h || (h = new Promise(async (f, n) => {
                    await (a = m.createElement("script"));
                    e.set("libraries", [...r] + "");
                    for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                    e.set("callback", c + ".maps." + q);
                    a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                    d[q] = f;
                    a.onerror = () => h = n(Error(p + " could not load."));
                    a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                    m.head.append(a);
                }));
            d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
        })({
            key: '<%=process.env.GOOGLEMAPS_API_KEY%>',
            v: "weekly",
        });


    </script>
    <script type="module" src="servos_api.js"></script>
    <script type="module" src="components/map.js"></script>
    <script type="module" src="components/hiding_sidebar.js"></script>
    <script type="module" src="components/oil-prices.js"></script>
    <script type="module" src="components/spotlight.js"></script>
    <script type="module" src="components/stats.js"></script>
    <script type="module" src="components/nearest.js"></script>
    <script type="module" src="components/time.js"></script>
    <script type="module" src="client.js"></script>
</body>
</html>